/* Media query */

@media (max-width: 1400px) {

    .services,
    .information,
    .footer  {
        width: 1100px;
    }

}

@media (max-width: 1200px) {
    
       .services {
        width: 800px;
    }
  
    .car-info {
        text-align: center;
        margin-top: 80px;
       
    }
    
    .car-info h2 {
        font-size: 30px;
    
    }
    
    
    .car-mini {
        width: 900px;
        margin: 50px auto;
    }
    
    
    .car-mini-image {
        width: 250px;
        height: 190px;
    }
    
    
    
    .car-mini-image img {
        width: 190px;
        height: 150px;

        
    }
    
    .car-show {
        display: flex;
        margin-top: 50px;
    }
    
    .car-show-image {
        width: 60%;
        height: 400px;
    }
    
    .car-show-info {
        width: 35%;
    }

    .information {
        width: 900px;
        margin: 150px auto;
    }
    
    .video-section h3 {
        font-size: 35px;
    }
    
    .footer {
        width: 800px;
        margin: 50px auto;
    }
}

@media (min-width: 900px) {
    .hamburger-menu {
      display: none;
    }
  }
  
  @media (max-width: 900px) {
    #menuItems {
      display: none;
    }

    .hamburger-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
    }
  
    .line {
      width: 40px;
      height: 10px;
      background-color: #000;
      transition: transform 0.3s ease;
      background-color: red;
    }
  
    .hamburger-menu.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
  
    .hamburger-menu.active .line:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger-menu.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(4px, -4px);
    }

    .slider-container {
        margin-top: 30px;
     }

    .navbar a {
        margin: 5px;
        padding: 5px 5px;
        display: block;
        border-bottom: 1px solid white;
    }

    .navbar a:hover{
        border-bottom: 1px solid red;
        color: red;
    }

    .car-info {
        text-align: center;
        margin-top: 60px;
        width: 550px;
        margin: 25px auto;
    }
    
    .car-info h2 {
        font-size: 30px;
    
    }
    
    
    .car-mini {
        width: 250px;
        margin-left: 150px;
        display: block;
        align-items: center;
        justify-content: center;
    }    
    
    
    .car-mini-image img {
        width: 250px;
        height: 200px;
        margin: 10px auto;
        
    }
    
    .car-show-image {
        width: 60%;
        height: 400px;
    }
    
    .car-show-info {
        width: 35%;
    }
    
    .show-btn1,
    .show-btn2 {
        width: 120px;
        height: 25px;
        padding: 10px 10px;
        font-size: 11px; 
        line-height: 12px;
    }

    .services {
        width: 600PX;
        margin: 50PX auto;
    }

    .services-section .fa-solid {
        font-size: 40px;
        color: red;
     }

     .information {
        width: 450px;
        margin: 150px auto;
        align-items: center;
        justify-content: center;
    }

    .info-section {
        display: block;
        margin: 10px auto;
    }

    .footer {
        width: 580px;
        margin: 50px auto;
    }

  }

@media (max-width: 600px) {
   
       .car-info {      
        width: 400px;       
    }

    .car-mini,
    .car-show {
        width: 400px;
    }

    .car-mini {
        width: 250px;
        margin-left: auto;
    }  
      
    .car-show-info,
    .colors {
        width: 150px;
    }

    .services {
        width: 400px;
        display: block;
    }

    .services-container,
    .video-section {
        display: block;
        margin: 50px auto;
    }

    .video-container iframe  {
        width: 380px;
    }

    .footer {
        width: 400px;
        
    }

    .footer h4 {
        font-size: 20px;
      }


    .footer h3 {
        font-size: 20px;
        margin: 15px;
      }

      .heading-footer i {
        font-size: 20px;
    }

    .center-footer {
        display: block;
        text-align: center;
    }
}
/* Media query */