* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    
}

body {
    font-family: sans-serif;
    color: rgb(74, 74, 77);
}

/* Fonts and colors 
 grey rgb(74, 74, 77)
 */


/* Fonts and colors */

/* Default settings */

.division {
  
    margin: 0px auto;
}

.logo {
    width: 140px;
    height: 120px;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 0px 5px;
    margin: 0 10px;
}

/* Default settings Ending*/

/* Navbar */
.navbar a {
    margin: 15px;
    padding: 30px 20px;
    text-decoration: none;
    vertical-align: middle;
    transition: 0.5s;
    font-weight: bold;
    color: rgb(15, 15, 15);
    border-bottom: 4px solid white;
}

.navbar .fa-magnifying-glass {
    margin: 15px;
    padding: 30px 20px;
}

.navbar a:hover{
    border-bottom: 4px solid red;
    color: red;
}

.fas {
    transition: 1s;
}

.fas:hover {
    transform: rotate(180deg);
}

/* Navbar */

/* Hero */



.banner-text {
    width: 35%;
    color: aliceblue;
    position: absolute;
    bottom: 8px;
    left: 16px;
}



.car-btn1,
.car-btn2 {
    margin: 10px 30% 0px 0px;
    text-decoration: none;
    padding: 16px 20px;
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: center;
    font-weight: 900;
    transition: 0.4S;
} 

.show-btn1,
.show-btn2 {
    width: 160px;
    height: 20px;
    text-decoration: none;
    padding: 20px 20px;
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: center;
    font-weight: 900;
    transition: 0.4S;
    margin: 25px 0 25px 0;
}

.car-btn1,
.show-btn1 {
    background-color: red;
    color: aliceblue;
}

.car-btn1:hover,
.show-btn1:hover {
    background-color: rgb(255, 89, 89);
    color: aliceblue;
}

.car-btn2:hover,
.show-btn2:hover {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

.car-btn2,
.show-btn2 {
    color: red;
}

.slider-container hr {
    width: 100%;
    height: 3px;
    background-color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Slider */

.banner-heading {
    font-size: 35px;
    font-weight: bold;
}

.banner-paragraph {
    font-size: 25px;
    font-weight: bold;
}


.slider-container {
   width: 100%;
   height: 700px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.swiper-slide img {
    width: 100%;
    height: 720px;

}

.swiper {
    width: 100%;
    height: fit-content;
}



/* Slider */


/* Hero */

/* CAR INFO */

.car-info {
    text-align: center;
    margin-top: 80px;
   
}

.car-info h2 {
    font-size: 35px;

}


.car-mini {
    width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}


.car-mini-image {
    width: 280px;
    height: 220px;
}



.car-mini-image img {
    width: 240px;
    height: 180px;
    align-items: center;
    
}

.car-show {
    display: flex;
    margin-top: 50px;
}

.car-show-image {
    width: 65%;
    height: 500px;
}

.car-show-info {
    width: 35%;
    text-align: left;
    margin: 25px 0px 50px 50px;
}

.show-btn {
    display: flex;
}

.colors {
    display: flex;
    width: 200px;
    justify-content: space-around;
    margin-top: 25px;
}

.car-info h2 {
    font-size: 55px;
    text-align: center;
   
}

.price {
    font-size: 35px;
    font-weight: bold;
}

.car-info hr {
    margin: 25px 0 25px 0;
}

.color-circle-blue {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: blue;
    border: solid gray 2px;
    transition: 0.4s;
}

.color-circle-red {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: red;
    border: solid gray 2px;
    transition: 0.4s;
}

.color-circle-white {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: white;
    border: solid gray 2px;
    transition: 0.4s;
}

.color-circle-yellow {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: yellow;
    border: solid gray 2px;
    transition: 0.4s;
}

.color-circle-blue:hover {
    background-color: rgb(81, 81, 255);
}

.color-circle-red:hover {
    background-color: rgb(255, 89, 89);
}
 
.color-circle-white:hover {
    background-color: rgb(227, 227, 227);
}

.color-circle-yellow:hover {
    background-color: rgb(255, 255, 120);
}

/* CAR INFO */